.common-button {
    padding: .3rem .7rem;
    background-color: var(--yellow-green);
    color: var(--dark-green);
    border: 1px thin var(--yellow-light);
    border-radius: 5px;
}
.common-button:hover{
    background-color: var(--light-geen);
    /* color: var(--brand-white); */
    border: 1px thin var(--dark-green);
}
.common-button:active{
    transform: scale(1);
}